*{
    margin: 0px;
}

.panel {
    width: 100%;
}

.divCanvas {
    display: block;
    overflow-x: hidden;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

input{    
    margin-bottom: 10px;
}

.sidebar {
    float: right;
    padding: 10px;
}

.txtTitle{
    height: 25px;
}

.txtAttributes{
    height: 200px;
}
