.panel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    min-width: 100px;
    resize: horizontal;
    display: inline-flex;
    float: left;
}

.divCanvas {
    width: 90%;
    height: 100%;
    min-width: 10px;
    resize: horizontal;
    display: inline-flex;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}

.txtEdit{
    width: 100%;
    height: 25px;
}
